
body, html {
    height: 100%;
}

.h1 {
    padding-top: 10%;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.add {
    color:white;
}

.marg {
    padding: 3%;
    text-shadow: 2px 2px 4px #000000;
}

footer {
    background-color: grey;
    padding: 1%;
}

p {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.bgk { 
    /* The image used */
    background-image:url("img/address.jpeg");

    /* Full height */
    height: 82%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}                    
            
input{
    text-align:center;
 }