
body, html {
    height: 100%;
}

.h1 {
    padding-top: 10%;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.h11 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 150%;
    font-weight: bold;
}

.add {
    color:white;
}

.marg {
    padding: 3%;
    text-shadow: 2px 2px 4px #000000;
}



footer {
    background-color: grey;
    padding: 1%;
}

p, .name, .number, .email {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.margin-left{
    margin-left: 3% !important;
}

.homeDtl, .addForm, .view, .editForm { 

    /* The image used */
    background-image:url("img/address.jpeg");

    /* Height */
    height: 82%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}              
            
input{
    text-align:center;
 }